@import "tailwindcss";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @theme {
  --font-montserrat: "Montserrat", "sans-serif";
} */

/* @theme {
  --font-weight-thin: 100;
  --font-weight-extraLight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
} */

@theme {
  --color-cream: #f7cca5;
  --color-blue: #2a37a7;

  --color-cloudWhite: #f1f1f1;
  --color-skyBlue: #87ceeb;
  --color-sunflowerYellow: #d3af37;
}
